<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menüler</div>
                <a class="nav-link" href="/Product/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-fw fa-tachometer-alt"></i></div>
                    Ürünler
                </a>
                <a class="nav-link" href="/Customer/Index/">
                    <div class="sb-nav-link-icon"><i class="fa fa-fw fa-users"></i></div>
                    Müşteriler
                </a>
                <a class="nav-link" href="/Category/Index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-fw fa-table"></i></div>
                    Kategoriler
                </a>
                <a class="nav-link" href="/Job/Index/">
                    <div class="sb-nav-link-icon"><i class="fa fa-fw fa-bicycle"></i></div>
                    Meslekler
                </a>
                <a class="nav-link" href="/Product/AddProduct/">
                    <div class="sb-nav-link-icon"><i class="fa fa-fw fa-gift"></i></div>
                    Yeni Ürün Girişi
                </a>
                <a class="nav-link" href="/Settings/Index/">
                    <div class="sb-nav-link-icon"><i class="fa fa-fw fa-lock"></i></div>
                    Şifre İşlemleri
                </a>
                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fa fa-fw fa-info"></i></div>
                    Yardım
                </a>
                <a class="nav-link" href="/Login/LogOut/">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-fw fa-right-from-bracket"></i></div>
                    Çıkış Yap
                </a>
            </div>
        </div>
    </nav>
</div>
